body{
    background-color: beige;
}

form {
    
    background-color: black;
    width: 200px;
    margin-left: 0%;
    position:fixed;
    border-radius: 6%;

   
    
}


button {
   border-radius: 50%; 
   width: 35px;
   height: 35px;
   border: none;
   font-size: large;
   color: white;
   background-color: gray;
  
}

#element_sixth {
    background-color: orange;
    color: white;
}
#element_first {
    border-radius: 40%;
    width: 80px;
    
}

div {
    border-radius: 50%;
}